// $section

$section__background: #F5F5FA;

// $voice-card
$voice-card__width: 373px;
$voice-card__height: 373px;
$voice-card__offset-right: 15px;

// $speed-select
$speed-select__width: 40px;
$speed-select__font-size: 10px;
$speed-select__padding: 5px 5px;